<% include ../partials/header %>

    <div class="row">
        <h1 class="center">Profile</h1>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="<%= user.avatar %>" alt="user profile image">
            </div>
        </div>
        <div class="col-md-8">
            <h3><strong>Name:</strong> <%= user.firstName + " " + user.lastName %></h3>
            <h3><strong>Email:</strong> <a href="mailto:<%= user.email %>"><%= user.email %></a></h3>
        </div>
    </div>

<% include ../partials/footer %>