    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    </body>
    <!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/"><i class="fa fa-angle-double-right"></i>Casa</a></li>
						<li><a href="/donate"><i class="fa fa-angle-double-right"></i>Como Funciona</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Donaciones</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Únete</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Patrocinadores</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Mexican Institute</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Embassy Of Mexico</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Mexican Festival Restaurant</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Radio Iniciador</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Taco Mix</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Mobile Apps</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Iphone</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Android</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Windows</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook-square fa-3x social"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="footerDescription">La Zona es una aplicación innovadora que conectan a nuestra comunidad con servicios, negocios y oportunidades de manera gratuita. Inc. NY, U.S.</p>
					<p class="h4">&copy All right Reversed <a class="text-green ml-2" href="https://lazona.herokuapp.com/" target="_blank"> La Zona.</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
</html>