<% include ./partials/header %>
    
    <div class="jumbotron">
      <h2>We Need You</h2>
      <p>Help us to help more people. We offer a variety of programs and services that respond to the specific needs of immigrant families..</p>
      

      <div class="row">
        <div class="col-lg-7">
            <img  src="/images/1.jpg" alt="donate">
        </div><!-- /.col-lg-6 -->
        
        <div class="col-lg-5">
            <h1>Donate</h1>
            <form action="/donate" method="POST">
                <div class="form-group">
                    <label class="label label-info" for="creditCart">Credit Cart</label>
                    <input class="form-control"type="text" name="creditCart" placeholder="Credit Card">
                </div>
                <div class="form-group">
                    <label class="label label-info" for="amount">Amount</label>
                    <input class="form-control"type="text" name="amount" placeholder="Amount">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block"type="submit" value="Donate">
                </div>
            </form>
            <a href="/">Go back</a>
        
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->


      


    </div>

    

<% include ./partials/footer %>