<% include ./partials/header %>

<div class="container">
    <div class="form"">
        <h1>Donate</h1>
        <form action="/donate" method="POST">
            <div class="form-group">
                <input class="form-control"type="text" name="creditCart" placeholder="Credit Card">
            </div>
            <div class="form-group">
                <input class="form-control"type="text" name="amount" placeholder="Amount">
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block"type="submit" value="Donate">
            </div>
        </form>
        <a href="/">Go back</a>
        </div>
</div>

<% include ./partials/footer %>