<% include ./partials/header %>
    
    <div class="jumbotron">
      <h2>Te Necesitamos</h2>
      <p>Ayúdanos a ayudar a más personas Ofrecemos una variedad de programas y servicios que responden a las necesidades específicas de las familias inmigrantes.</p>
      
      <div class="row">
        <div class="col-lg-7">
            <img class="img-responsive" src="/images/1.jpg" alt="donate">
        </div><!-- /.col-lg-6 -->
        
        <div class="col-lg-5">
            <h1>Donar</h1>
            <form action="/donate" method="POST">
                <div class="form-group">
                    <label class="label label-info" for="creditCart">Tarjeta de Crédito</label>
                    <input class="form-control"type="text" name="creditCart" placeholder="000-000-0000">
                </div>
                <div class="form-group">
                    <label class="label label-info" for="amount">Cantidad</label>
                    <input class="form-control"type="text" name="amount" placeholder="0">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block"type="submit" value="Donar">
                </div>
            </form>
            <a href="/">Regresa</a>
        
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

    </div>

<% include ./partials/footer %>