<% include ./partials/header %>

    <h1>Page not found</h1>
    <img src="https://images.unsplash.com/photo-1485827887959-c0a38ad3ea6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cb9ca7d8bfe2d143fdd5358e1c4fef42&auto=format&fit=crop&w=350&q=80">

<% include ./partials/footer %>