<% include partials/homeHeader %>
    <hr>
    
    <div class="row text-center flex">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/apartments">
                    <img src="/images/apartment.png" alt="Apartment">
                </a>
                <div class="caption">
                    <h4>Apartamento</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/jobs">
                    <img src="/images/job.png" alt="Job">
                </a>
                <div class="caption">
                    <h4>Trabajo</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/education">
                    <img src="/images/education.png" alt="Education">
                </a>
                <div class="caption">
                    <h4>Educación</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/helps">
                    <img src="/images/help.png" alt="Help">
                </a>
                <div class="caption">
                    <h4>Ayuda</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/buySales">
                    <img src="/images/buy&sale.png" alt="Buy & Sale">
                </a>
                <div class="caption">
                    <h4>Comprar & Venta</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/events">
                    <img src="/images/event.png" alt="Event">
                </a>
                <div class="caption">
                    <h4>Evento</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/services">
                    <img src="/images/service.png" alt="Service">
                </a>
                <div class="caption">
                    <h4>Servicio</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/freeThings">
                    <img src="/images/freething.png" alt="Free Thing">
                </a>
                <div class="caption">
                    <h4>Cosa Gratis</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/pets">
                    <img src="/images/lostpet.png" alt="Lost Pet">
                </a>
                <div class="caption">
                    <h4>Mascota Perdida</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/internships">
                    <img src="/images/internship.png" alt="Internship">
                </a>
                <div class="caption">
                    <h4>Internado</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/recycles">
                    <img src="/images/recycle.png" alt="Recycle">
                </a>
                <div class="caption">
                    <h4>Reciclar</h4>
                </div>
            </div> 
        </div>
    </div>
    
<% include partials/footer %>