<% include partials/header %>

    <h1>Welcome to The Zone</h1>
    <div class="row text-center flex">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/jobs">
                    <img src="/images/job.png" alt="Job">
                </a>
                <div class="caption">
                    <h4>Job</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/education">
                    <img src="/images/education.png" alt="Education">
                </a>
                <div class="caption">
                    <h4>Education</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="/apartments">
                    <img src="/images/apartment.png" alt="Apartment">
                </a>
                <div class="caption">
                    <h4>Apartment</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="#">
                    <img src="/images/buy&sale.png" alt="Buy & Sale">
                </a>
                <div class="caption">
                    <h4>Buy & Sale</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="#">
                    <img src="/images/event.png" alt="Event">
                </a>
                <div class="caption">
                    <h4>Event</h4>
                </div>
            </div> 
        </div><div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="#">
                    <img src="/images/internship.png" alt="Internship">
                </a>
                <div class="caption">
                    <h4>Internship</h4>
                </div>
            </div> 
        </div><div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="#">
                    <img src="/images/service.png" alt="Service">
                </a>
                <div class="caption">
                    <h4>Service</h4>
                </div>
            </div> 
        </div><div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="#">
                    <img src="/images/freething.png" alt="Free Thing">
                </a>
                <div class="caption">
                    <h4>Free Thing</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="#">
                    <img src="/images/recycle.png" alt="Recycle">
                </a>
                <div class="caption">
                    <h4>Recycle</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="#">
                    <img src="/images/lostpet.png" alt="Lost Pet">
                </a>
                <div class="caption">
                    <h4>Lost Pet</h4>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <a href="#">
                    <img src="/images/help.png" alt="Help">
                </a>
                <div class="caption">
                    <h4>Help</h4>
                </div>
            </div> 
        </div>
    </div>
    
<% include partials/footer %>