<% include ./partials/header %>
  
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Creative - Start Bootstrap Theme</title>

      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

      <!-- Plugin CSS -->
      <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="/stylesheets/css/creative.css">
    </head>

    <hr>

    <body id="page-top">
    
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-11 text-center">
            <h2 class="section-heading text-white">Cómo Funciona</h2>
            <img class="img-responsive img-fluid" src="/images/tt.png" alt="How it Works img">
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">A Su Servicio</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x far fa-gem text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Negocio Local</h3>
              <p class="text-muted mb-0">Nuestra plataforma se actualiza regularmente para que no se rompan.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Listo Para Enviar</h3>
              <p class="text-muted mb-0">¡Puedes usar esta aplicación tal como es, Android, Iphone o computadora!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x far fa-newspaper text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">A Hoy</h3>
              <p class="text-muted mb-0">Actualizamos las dependencias para mantener las cosas frescas.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Hecho Con Amor</h3>
              <p class="text-muted mb-0">Ayudar a su comunidad mejora la vida de sus amigos, familiares y otros.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">

            <a class="portfolio-box" href="/images/1jobs.jpg">
              <img class="img-fluid img-responsive" src="/images/job.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Trabajos
                  </div>
                  <div class="project-name">
                    Publicar un trabajo o postularse
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/images/1apt.jpg">
              <img class="img-fluid img-responsive" src="/images/apartment.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Apartamentos
                  </div>
                  <div class="project-name">
                    Publica un apartamento o consigue uno
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/images/1ed.png">
              <img class="img-fluid img-responsive" src="/images/eed.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Educación
                  </div>
                  <div class="project-name">
                    Ofrezca una clase o regístrese
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/images/01.jpg">
              <img class="img-fluid img-responsive" src="/images/b.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Servicios
                  </div>
                  <div class="project-name">
                    Ofrecer un servicio o solicitud
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/images/Sell-and-Buy-Online.png">
              <img class="img-fluid img-responsive" src="/images/buyFront.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Compra y Vende
                  </div>
                  <div class="project-name">
                    Compra o vende localmente
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/images/1ed.png">
              <img class="img-fluid img-responsive" src="/images/internship.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Internado
                  </div>
                  <div class="project-name">
                    Publica una pasantía o postúlate
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4" id="makeWhite">Descargue nuestra aplicación gratuita ahora!</h2>
        <a class="btn btn-light btn-xl sr-button" href="#" target="_blank">¡Descargar ahora!</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading">¡Mantengámonos en contacto!</h2>
            <hr class="my-4">
            <p class="mb-5">¿Listo para comenzar con nosotros? ¡Eso es genial! Llámenos o envíenos un correo electrónico y nos pondremos en contacto con usted lo antes posible.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact"></i>
            <p>646-360-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="far fa-envelope fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">lazona@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>



<% include ./partials/footer %>

