<% include ./partials/header %>

    <div class="form">
        <h1>como Funciona</h1>
        <h1>como Funciona</h1>
        <h1>como Funciona</h1>
        <a href="/">Go back</a>
    </div>

<% include ./partials/footer %>

