<% include partials/header %>

    <div class="row">
        <h1 class="center">Iniciar Sesión</h1>
        <div class="form">
            <form action="/login"method="POST">
                <div class="form-group">
                    <label class="label label-info" for="username">Nombre de Usuario</label>
                    <input class="form-control"type="text" name="username" placeholder="Nombre de Usuario">
                </div>
                <div class="form-group">
                    <label class="label label-info" for="password">Contraseña</label>
                    <input class="form-control"type="password" name="password" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block"type="submit" value="Entrar">
                </div>
            </form>
            <a href="/forgot">Se te olvidó tu contraseña</a>
        </div>
    </div>

<% include partials/footer %>