<% include ./partials/header %>
    
    <div class="container">
        <h2>Social Media</h2>
        
        <div class="row text-center flex">
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <a href="https://www.facebook.com/groups/YoAmoNuevaYork/">
                        <img src="/images/facebookImage1.png" alt="Social Media">
                    </a>
                    <div class="caption">
                        <h4>Yo Amo Nueva York</h4>
                    </div>
                </div> 
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <a href="https://www.facebook.com/groups/lazonita/">
                        <img src="/images/facebookImage2.png" alt="Social Media">
                    </a>
                    <div class="caption">
                        <h4>Trabajos, Rentas, Oportunidades En New York - La Zonita App</h4>
                    </div>
                </div> 
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <a href="https://www.facebook.com/groups/168979347114638/">
                        <img src="/images/facebookImage3.png" alt="Social Media">
                    </a>
                    <div class="caption">
                        <h4>Yo amo viajar - USA</h4>
                    </div>
                </div> 
            </div>
        </div>
    </div>

<% include ./partials/footer %>