<% include ./partials/header %>
    
    <div class="container">
        <h2>Social Media</h2>
        
        <div class="list-group">
            <a href="https://www.facebook.com/groups/YoAmoNuevaYork/" class="list-group-item">https://www.facebook.com/groups/YoAmoNuevaYork/</a><br/>
            <a href="https://www.facebook.com/groups/lazonita/" class="list-group-item">https://www.facebook.com/groups/lazonita/</a><br/>
            <a href="https://www.facebook.com/groups/168979347114638/" class="list-group-item">https://www.facebook.com/groups/168979347114638/</a><br/>
        </div>
    </div>

<% include ./partials/footer %>