<% include ../partials/header %>

    <div class="row">
        <h1 class="center">Crear una Nueva Pasantía</h1>
        <div class="form">
            <form action="/internships" method="POST">
                <div class="form-group">
                    <label class="label label-info" for="title">Título</label>
                    <input class="form-control" type="text" name="title" placeholder="Título">
                </div>
                <div class="form-group">
                    <label class="label label-info" for="companyName">Nombre de Empresa</label>
                    <input class="form-control" type="text" name="companyName" placeholder="Nombre de Empresa">
                </div>
                <div class="form-group">
                    <label class="label label-info" for="description">Descripción</label>
                    <textarea class="form-control" name="description" placeholder="Descripción" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label class="label label-info" for="location">Ubicación</label>
                    <input class="form-control" type="text" name="location" placeholder="Ubicación">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Enviar</button>
                </div>
            </form>
            <a href="/internships">Regresa</a>
        </div>
    </div>

<% include ../partials/footer %>